.container_swipper_div{
  height: 90vh;
  display: flex;
  align-items: center;

}
.product_container_div_op{

}
.product_container_div_op .info{

}
.product_container_div_op .info{
  
}
.product_container_div_op .name{

}
.product_container_div_op .bottom{

}
.product_container_div_op .bottom .left{
  
}
.product_container_div_op .bottom .left img{
  
}
.product_container_div_op .bottom .left p{
   
}
.product_container_div_op .bottom .right{
  
}
.product_container_div_op .bottom .right button{
  
}
.product_container_div_op .bottom .right span{
  
}